/deps/
/deps.old/
/ebin/
/_rel/
/relx
.eunit
*.o
*.beam
*.plt
erl_crash.dump

/.erlang.mk/

node_modules

/trash/**

/priv/static/js/compiled/


### TODO: fix the mess in gitignore files
### TODO: git filter-branch the repo --- I forgot to exclude deps and compiled files and now have a huge repo

