{dev_mode, true}.
{release, {hello_world_example, "1"},
 [hello_world,
                                                % sockjs,
                                                % jiffy,
  epgsql,
  lager,
  syntax_tools, compiler, sync
 ]}.
{extended_start_script, true}.
{include_erts, false}.
{include_src, false}.

{vm_args, "./vm.args"}.
{sys_config, "./sys.config"}.

