/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port

/node_modules/

/lein-deps/**




/platforms/**
/plugins/**
/config.xml
/src/resources/public/static/js/compiled/**
/src/resources/symlink-to-www
/www/static/js/compiled/**
